h1 {
    border-color: #242423;
    border-style:solid;
    text-align: center; 
    background-color: #333533;
    width: calc(20px + 80%);
    margin-left:  auto;
    margin-right: auto;
    border-width: 5px;
}

h1:hover {
    color: blueviolet;
}

.section{
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.image1{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style:solid;
    border-color: #454a44;
    box-shadow: 10px 10px 20px 1px #454a44;
    margin-left: 2%;

}

.image2{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style:solid;
    border-color: #726547;
    box-shadow: 10px 10px 20px 1px #726547; 
    margin-left: 2%;
}

.image3{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #171911;
    box-shadow: 10px 10px 20px 1px #171911;
    margin-left: 2%;
}

.image4{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #171911;
    box-shadow: 10px 10px 20px 1px #171911;
}

.image5{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #13292b;
    box-shadow: 10px 10px 20px 1px #13292b;
}

.image6{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #051722;
    box-shadow: 10px 10px 20px 1px #051722;
    margin-left: 2%;
}

.image7{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #201400;
    box-shadow: 10px 10px 20px 1px #201400;
    margin-left: 2%;
}

.image8{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #1e2424;
    box-shadow: 10px 10px 20px 1px #1e2424;
    margin-left: 2%;
}

.image9{
    width: 15%;
    height: 15%;
    border-radius: 10px;
    border-style: solid;
    border-color: #222824;
    box-shadow: 10px 10px 20px 1px #222824;
    margin-left: 2%;
}